.wrapper {
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.showBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all ease-in 300ms;
    font-size: 20px;

}

.showBtn:not([disabled]):hover {
    cursor: pointer;
    background-color: gray;
}

.showBtn.active:not([disabled]) {
    transform: rotate(90deg);
    background-color: #61dafb;
}


.title:first-letter {
    text-transform: capitalize;
}

.btn {
    padding: 5px;
    border-radius: 10px;
    transition: all ease-in 200ms;
}

.btn:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.renameBtn:hover {
    background-color: tomato;
}

.deleteBtn:hover {
    transform: scale(1);
    color: gray;
    cursor: not-allowed;
}

.addBtn:hover {
    background-color: green;
}

